.nav {
    grid-area: n;
    background-color: #212121;
    padding: 20px;
}

.item {
    color: aliceblue;
}

.item a {
    color: aliceblue;
    text-decoration: none;
}

.item a.activeLink {
    color: forestgreen;
}